/* GAMES SECTION */


.menu {

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  color: white;

  }
  

.menu h2 {
  font-size: 20px;
  text-align: left;
  color: white;
}

.menu a {
  color: pink;
}


  
  

  